body {
    display: flex;
    justify-content: center;
    background: #a0c5ff;
    color: #344d66;
    opacity: .8;
    height: 5rem;
    padding: 1rem;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#brewery-list {
    margin: 2rem;
}

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #344d66;
    background-color: ghostwhite;
    color: #344d66;
}